<!DOCTYPE html>
<html lang="en">

{% include "header.html"%}

    <!-- Header Start -->
    <div class="container-fluid page-header d-flex align-items-center justify-content-center rounded" style="background-image: url('static/assets/img/cv-apart-photos/landscape3.jpg'); background-size: cover; background-position: center; min-height: 400px;">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Servicios</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Inicio</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Servicios</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Service Start -->
<body>
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Servicios</h6>
                <h1>Servicios y Prestaciones</h1>
            </div>
            <p class="description">En nuestro encantador complejo de departamentos, nos enorgullecemos de ofrecer una experiencia vacacional excepcional que combina comodidad, diversión y conexión con la naturaleza. Con una amplia gama de servicios diseñados para satisfacer todas tus necesidades y deseos, estamos seguros de que encontrarás todo lo que buscas y más.<br>
Desde nuestra reluciente piscina al aire libre, perfecta para refrescarse y divertirse en compañía de toda la familia, hasta nuestro exuberante jardín verde, que te invita a relajarte y disfrutar de la belleza natural que nos rodea, cada rincón de nuestro complejo está pensado para proporcionarte momentos de placer y tranquilidad.<br>
Además, en nuestro compromiso por hacer que tu estadía sea lo más cómoda posible, te ofrecemos habitaciones completamente equipadas con todo lo que necesitas para sentirte como en casa, incluyendo detalles como cocina completa, conexión a internet gratuita y camas acogedoras.<br>
Y para aquellos que buscan aún más entretenimiento, ofrecemos parrilla y el amplio jardin es apto para actividades familiares que te esperarán para una experiencia llena de diversión y sabores deliciosos.<br>
En nuestro complejo encontrarás todo lo necesario para desconectar de la rutina, conectar con tus seres queridos y crear recuerdos que perdurarán para siempre. ¡Te damos la bienvenida a tu hogar lejos de casa!</p>
        </div>
    </div>
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                        <h5 class="mb-2">Ubicación Estratégica</h5>
                        <p class="m-0">Descubre la ubicación ideal para tu próxima escapada en nuestro complejo de departamentos. Estratégicamente ubicado a solo 14 km de Corrientes, 11 km del aeropuerto y a tan solo 5 km del vibrante centro de Resistencia.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-solid fa-person-swimming mx-auto mb-4"></i>
                        <h5 class="mb-2">Piscina al aire libre</h5>
                        <p class="m-0">Sumérgete en la diversión en nuestra piscina al aire libre, diseñada para complacer a toda la familia. Con su parte de playa y profundidad adecuada, es ideal para todos, desde los más pequeños hasta los adultos que desean relajarse. ¡Déjate llevar por la frescura del agua y disfruta del sol en nuestra amplia piscina!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-solid fa-tree fa-2x mx-auto mb-4"></i>
                        <h5 class="mb-2">Jardín</h5>
                        <p class="m-0">Descubre la serenidad de nuestro amplio jardín verde, un oasis de tranquilidad que acoge una variedad de plantas, cuidadosamente seleccionadas para preservar nuestro ecosistema. ¡Déjate envolver por la naturaleza y encuentra tu lugar de paz entre nuestros rincones verdes!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-solid fa-paw mx-auto mb-4"></i>
                        <h5 class="mb-2">Se admiten mascotas</h5>
                        <p class="m-0">En nuestro complejo, valoramos la compañía de tus amigos peludos tanto como tú. Por eso, ¡te damos la bienvenida a ti y a tus mascotas sin cargo adicional! Solo avísanos con anticipación y aseguraremos que su estadía sea tan cómoda como la tuya.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                        <h5 class="mb-2">Habitaciones completamente equipadas</h5>
                        <p class="m-0">Nuestras habitaciones completamente equipadas están diseñadas para brindarte el máximo confort y conveniencia durante tu estancia. Desde la cocina totalmente equipada hasta la transmisión satelital y el acceso gratuito a Internet, hemos pensado en todo para que te sientas como en casa. Con camas queen y simples, todos encontrarán su lugar perfecto para descansar.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-solid fa-utensils mx-auto mb-4"></i>
                        <h5 class="mb-2">Parrilla y actividades familiares</h5>
                        <p class="m-0">Y para los amantes de las actividades al aire libre, nuestra parrilla móvil y fija te esperan para una deliciosa experiencia gastronómica. ¿Prefieres disfrutar de una comida al aire libre? ¡Nosotros nos encargamos de preparar las mesas para que puedas concentrarte en disfrutar! Además, en nuestro jardín, encontrarás espacio para divertirte con juegos recreativos como voleibol y fútbol, ¡todo sin preocupaciones ni molestias para los demás huéspedes!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <!-- Service End -->



{% include "footer.html" %}


</html>