<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>
    <!-- Header Start -->
    <div class="container-fluid page-header d-flex align-items-center justify-content-center rounded" style="background-image: url('static/assets/img/cv-apart-photos/pool-night.jpg'); background-size: cover; background-position: center; min-height: 400px;">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Testimonios</h3>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-3 pb-3">
                <h1>¡Lo que dicen nuestros clientes!</h1>
            </div>
            <script src="https://widget.trustmary.com/um08FFO1R"></script>
        </div>
    </div>
    <!-- Testimonial End -->

    {% include 'footer.html' %}

</body>

</html>